<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Ustawienia użytkownika [<b>{{vm.settingsAccount.login}}</b>]</h2>

            <div class="alert alert-success" ng-show="vm.success">
                <strong>Ustawienia zostały zapisane!</strong>
            </div>

            <div class="alert alert-danger" ng-show="vm.errorEmailExists">
                <strong>E-mail jest w użyciu!</strong> Proszę wybrać inny.
            </div>

            <div class="alert alert-danger" ng-show="vm.error">
                <strong>Wystąpił błąd!</strong> Ustawienia nie mogły zostać zapisane.
            </div>

            <form name="form" role="form" novalidate ng-submit="vm.save()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Imię"
                           ng-model="vm.settingsAccount.firstName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.firstName.$dirty && form.firstName.$invalid">
                        <p class="help-block"
                               ng-show="form.firstName.$error.required">
                            Imię jest wymagane.
                        </p>
                        <p class="help-block"
                               ng-show="form.firstName.$error.minlength">
                            Imię może minimalnie składać sie z 1 znaku.
                        </p>
                        <p class="help-block"
                               ng-show="form.firstName.$error.maxlength">
                            Imię może maksymalnie składać się z 50 znaków.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="lastName">Nazwisko</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Nazwisko"
                           ng-model="vm.settingsAccount.lastName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.lastName.$dirty && form.lastName.$invalid">
                        <p class="help-block"
                               ng-show="form.lastName.$error.required">
                            Nazwisko jest wymagane.
                        </p>
                        <p class="help-block"
                               ng-show="form.lastName.$error.minlength">
                            Nazwisko może minimalnie składać sie z 1 znaku.
                        </p>
                        <p class="help-block"
                               ng-show="form.lastName.$error.maxlength">
                            Nazwisko może maksymalnie składać sie z 50 znaków.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="E-mail"
                           ng-model="vm.settingsAccount.email" ng-minlength=5 ng-maxlength=100 required maxlength="100">
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                               ng-show="form.email.$error.required">
                            E-mail jest wymagany.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.email">
                            Adres e-mail jest niepoprawny.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.minlength">
                            Adres e-mail musi składać się z przynajmniej 5 znaków.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.maxlength">
                            Adres e-mail może maksymalnie składać się z 50 znaków.
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Zapisz</button>
            </form>
        </div>
    </div>

</div>
