<div>
    <h2>Użytkownicy</h2>
    <jhi-alert></jhi-alert>
    <div class="container">
        <div class="row">
          <div class="col-md-4">
              <button class="btn btn-primary" ui-sref="user-management.new">
                  <span class="glyphicon glyphicon-flash"></span> <span>Utwórz nowego użytkownika</span>
              </button>
          </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>Pesel</th>
                <th>Stanowisko</th>
                <th>Adres</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users track by user.id">
                <td><a ui-sref="user-management-detail({index:$index})">{{user.id}}</a></td>
                <td>{{user.imie}}</td>
                <td>{{user.nazwisko}}</td>
                <td>{{user.pesel}}</td>
                <td>{{user.stanwisko}}</td>
                <td>{{user.adres}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="user-management-detail({index:$index})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                        <button type="submit"
                                ui-sref="user-management.edit({index:$index})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                        <button type="submit"
                                ui-sref="user-management.delete({index:$index})"
                                class="btn btn-danger btn-sm" ng-disabled="vm.currentAccount.login==user.login">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page"></uib-pagination>
    </div>
</div>
