<div>
    <h2><span>{{vm.user.imie}} {{vm.user.nazwisko}}</span></h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Imie</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{vm.user.imie}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Nazwisko</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{vm.user.nazwisko}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Pesel</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{vm.user.pesel}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Stanowisko</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{vm.user.stanwisko}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Adres</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{vm.user.adres}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Szkolenia</span>
                </td>
                <td>
                    <select name="repeatSelect" ng-model="vm.user.szkolenia" multiple>
                        <option ng-repeat="szkolenie in szkolenia" value="{{szkolenie.id}}">{{szkolenie.temat}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Dokumenty</span>
                </td>
                <td>
                    <table>
                        <tr>
                            <td><a href="" ng-click="vm.getPlik('Umowa-o-prace.doc')">Umowa o prace</a></td>
                        </tr>
                        <tr>
                            <td><a href="" ng-click="vm.getPlik('Wniosek-o-urlop.doc')">Wniosek o urlop</a></td>
                        </tr>
                        <tr>
                            <td><a href="" ng-click="vm.getPlik('Wypowiedzenie-umowy-o-pracę.doc')">Wypowiedzenie umowy o pracę</a></td>
                        </tr>
                        <tr>
                            <td><a href="" ng-click="vm.getPlik('Skierowanie-na-badania-lekarskie.doc')">Skierowanie na badania lekarskie</a></td>
                        </tr>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="user-management"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
